extends layout

block content
  h2 Endpoints
  h3 POST https://back-conexa.herokuapp.com/users/login
  p (Body: email and password)
  br
  h3 GET https://back-conexa.herokuapp.com/photos
  p (Optional parameter: page)
  br
  h3 GET https://back-conexa.herokuapp.com/posts
  br
  h3 TESTS
  p Opening the project, in the directory "backend", run in the terminal "npm test" to run them
  
